<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<header>
    <nav>
        <a href="#">Home</a>
        <a th:href="@{/member/login}">Log In</a>
        <a href="#">Profile</a>
        <a href="#">Programs</a>
    </nav>
</header>
<section>
    <h1>로그인</h1>
    <form method="post" action="/member/login">
        <input type="text" name="userId" placeholder="아이디">아이디<br>
        <input type="password" password="password" placeholder="비밀번호">비밀번호
        <input type="submit" value="로그인">
    </form>
    <a th:href="@{/member/signup}">Sign Up</a>
</section>
</body>
</html>