<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<header>
    <nav>
        <a href="#">Home</a>
        <a th:href="@{/member/login}">Log In</a>
        <a href="#">Profile</a>
        <a href="#">Programs</a>
    </nav>
</header>
<section>
    <h1>회원가입</h1>
    <form method="post" th:action="@{/member/signup}">
        <input type="text" placeholder="아이디">아이디
        <input type="text" placeholder="이름">이름
        <input type="password" placeholder="비밀번호">비밀번호
        <input type="text" placeholder="주소">주소
        <input type="text" placeholder="전화번호">전화번호
        <input type="submit" value="가입">
    </form>
</section>
</body>
</html>